body{
    background-color: #092B40;
}

a{
    color: white;
}
a:hover{
    color: burlywood;
}

.item{
    background-color: lightgrey;
    padding: 8px;
    padding-left: 15px;
    margin-bottom: 18px;
}

.item:hover{
    cursor: pointer;
    border-left: 5px solid darkorange;
}